:root{
    --peach:#bf9464;

}

.lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif ;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}

header .logo {
    height: auto;
    width: 170px;
    justify-content: center;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .navbar a {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
    margin-right: 15px;
}

header .navbar a:hover {
    color: var(--peach);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0, 0, 0, 0.1);
    display: none;
}



/*HOME*/

section{
    padding: 2rem 9%;
 }

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(kaxlaga-img/Entrada\ de\ los\ Cuartos_\ Entrance\ to\ Rooms.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    margin-top: 50px;
    max-width:50rem;
    margin-left: 9rem;
}

.home .content h3{
    font-size: 6rem;
    color: #142624;
    text-transform: none;
}

.home .content span{
    font-size: 3.5rem;
    color:#ca8a19;
    padding: 1rem 0;
    line-height: 1.5;
    text-transform: none;
}

.home .content p{
    font-size: 2rem;
    color: #142624;
    padding: 1rem 0;
    line-height: 1.5;
    text-transform: none;
}

.home .content .btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 10px;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.home .content .btn:hover{
background: var(--peach);
}

/*DESCRIPCION*/

.about{
    background-color: #fff;
}

.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-family: 'Lato';
    font-weight: 400;
    position: relative;
    justify-content: center;
}

.about .row .content{
    flex: 1 ;
}

.about .row .content h3{
    font-size: 4rem;
    color: #142624;
    margin-top: 6rem;
    text-align: center;
}

.about .row .content h3 span{
    color: #63735f;
}
.about .row .content p{
    text-align: center;
    font-size: 2rem;
    text-transform: none;
    color: #706f6f;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}


/*DIVISION*/

.division {
    display: flex;
    padding: 2rem 9%;
    height: 350px;
    align-items: center;
    background: url(kaxlaga-img/division\ kaxlaga.png);
    background-size:  cover;
    background-position:center;
    justify-content: center;
}



/*ICONOS*/

.icons-container{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding: 2rem 8%;
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.icons-container .icons{
    background: #fff;
    display: flex;
    align-items: center;
    flex: 1 25rem;
}

.icons-container .icons h3{
   font-size: 20px;
   color: var(--peach);
   
   text-transform: uppercase;
   margin-bottom: 12px;
}

.icons-container .icons p{
    color: #333;
    padding-bottom: .5rem;
    font-size: 1.8rem;
    text-transform: none;
}

.icons-container .icons p .ing{
    color: #fff;
}

.icons-container .icons .ong{
    color: #fff;
}

/*contact*/

.heading{
    text-align: center;
    font-size: 4rem;
    color: #142624;
    padding: 1rem;
    margin: 2rem 0;
    background: rgba(206, 139, 63, 0.308);
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.contact .row .info-contacto{
    flex: 1 1 40rem ;
    padding: 2rem 2.5rem;
    box-shadow: 0px 0px 40px 5px rgb(143, 102, 56);
    background: #fff;
    background-repeat:round ;
    border-radius: .5rem;
    height: 300px;
}

.contact .row .image{
    flex: 1 1 40rem ;}


.contact .row .image {
    height: 300px;
    box-shadow: 0px 0px 30px 5px rgb(143, 102, 56);
    border-radius: .5rem;
}

.info-contacto {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    color: rgb(60, 60, 61);
}
.info-contacto h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(60, 60, 61);
}
.info-contacto p {
    margin-bottom: 20px;
    color: rgb(60, 60, 61);
    font-size: 20px;
    text-transform: none;
}
.info-contacto i {
    color: grey;
    margin-right: 10px;
}

.image{
    position: relative;
    overflow: hidden;
}

.image iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*REDES*/

.redes{
    width: 100%;
    height: 250px;
    padding: 2rem 8%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.redes h3{
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: none;
    color: #142624;
}

.redes h3 span{
    color: var(--peach);
}

.contenedor-redes{
    width: 100%;
}

.iconos-sociales{
    display: flex;
    justify-content: center;
}

.iconos-sociales a{
    text-decoration: none;
    padding: 10px;
    background-color: var(--peach);
    margin: 20px;
    border-radius: 10px;
}

.iconos-sociales a i{
    font-size: 40px;
    color: white;
    opacity: 0.9;
}

/*hover para iconos*/
.iconos-sociales a:hover {
    background-color: #63735f;
    transition: 0.5s;
  }
  .iconos-sociales a:hover i {
    color: whitesmoke;
    transition: 0.5;
  }


  /*PRODUCTOS*/


.products{
    display: flex;
    align-items: center;
    height: 450px;
    background: url(kaxlaga-img/general\ 6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.products .content h3{
    font-size: 6rem;
    color: #fff;
    text-align: center;
}

/*TEXTO PRODUCTOS*/

.texto-productos{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 9%;
    padding-bottom: 3rem;
    font-family: 'Lato';
    font-weight: 400;   
}

.texto-productos .texto-p p{
    text-align: center;
    font-size: 2rem;
    text-transform: none;
    color: #142624;
    padding: 2rem 0;
    line-height: 1.5;
}

.botones-productos{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10rem;
}

.contenedor-botones a:hover {
    background-color: var(--peach);
    transition: 0.5s;
  }
  

.contenedor-botones a{
    text-decoration: none;
    padding: 10px;
    background-color: #142624;
    margin: 20px;
    border-radius: 10px;
    font-size: 3rem;
    opacity: 0.9;
    color: #fff;
    cursor: pointer;
    padding: .9rem 3.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.tooltip-top {
    background: #142624;
    padding: 40px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 130%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    display: flex; 
    flex-direction: row;
    gap: 10px;
}

.tooltip:hover .tooltip-top {
    visibility: visible;
    opacity: 1;
}


.tooltip .tooltip-top img{
    width: 150px;
    height: 150px;
}

/*SOBRE MI*/

.aboutt{
    display: flex;
    align-items: center;
    height: 450px;
    background: url(kaxlaga-img/chiapas\ 14.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.aboutt .content-b h3{
    font-size: 6rem;
    color: #142624;
    text-align: center;
}


/*TEXTO ABOUT*/
.texto-about{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 9%;
    padding-bottom: 3rem;
    font-family: 'Lato';
    font-weight: 400;   
}

.texto-about .texto-a p{
    text-align: center;
    font-size: 2rem;
    text-transform: none;
    color: #142624;
    padding: 2rem 0;
    line-height: 1.5;
}

.about-services{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-family: 'Lato';
    font-weight: 400;
    justify-content: center;
}

.about-services .about-s h3{
    font-size: 4rem;
    color: #142624;
    margin-top: 6rem;
    text-align: center;
    text-transform: none;
}

.icons-services {
    background: #fff;
    padding-bottom: 6rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 2rem 20%;
}

.icons-services .icons-s {
    background: #fff;
    padding: 2rem;
    margin: 0; 
    width: 100%; 
    box-sizing: border-box; 
    text-align: left; 
}


.icons-services .icons-s h3 {
    font-size: 20px;
    color: var(--peach);
    text-transform: uppercase;
    margin-bottom: 12px;
    text-align: left; 
    margin: 0; 
}


/*galeria imagenes*/

.last{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-family: 'Lato';
    font-weight: 400;
    position: relative;
    justify-content: center
}

.last .last-w h3{
    font-size: 4rem;
    color: #142624;
    margin-top: 6rem;
    text-align: center;
}

.gallery{
min-height: 100%;
margin-top: 2rem;
}

.categories ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
}

.categories ul li{
    cursor: pointer;
    font-size: 17px;
    border-radius: 10px;
    background-color: #63735f;
    padding: 2rem;
    color: #fff;
}


/*hover para categories*/

  .categories ul li:hover  {
    background-color: var(--peach);
    color: whitesmoke;
    transition: 0.5;
  }


.gallery__images{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
gap: 1rem;
}

.gallery__card{
    width: 350px;
    height: 350px;
    display: block;
    position: relative;
}

.gallery__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery__card:hover{
    transition: ease-in;
}

.categories .filter-item.active{
    border-bottom: 1px solid #333;
}

.gallery__card.hide{
    display: none;
}
.gallery__card.show{
    animation: fadeIn .5s ease;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

/*TEXTILES*/
.textiles{
    display: flex;
    align-items: center;
    height: 450px;
    background: url(kaxlaga-img/chiapas\ 4.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.textiles .content-t h3{
    font-size: 6rem;
    color: #fff;
    text-align: center;
}

.texto-textiles{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2rem 9%;
    padding-bottom: 3rem;
    font-family: 'Lato';
    font-weight: 400; 
    text-transform: none;  
}

.texto-textiles .texto-t h3{
    font-size: 4rem;
    color: #142624;
    margin-top: 3rem;
    text-align: center;
    text-transform: none;

}

.texto-textiles .texto-t h3 span{
    color: #63735f;
    
    
}

    

.texto-textiles .texto-t p{
    text-align: center;
    font-size: 2rem;
    text-transform: none;
    color: #142624;
    padding: 2rem 0;
    line-height: 1.5;
}

/*oaxaca*/

.gallery-t{
    position: relative;
    min-height: 100vh;
    background-color: #fff;
}

.gallery-t .gallery-te1 { 
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   justify-content: center;
   padding: 10px;
}

.gallery-t .gallery-te1 .image-t{
    height: 350px;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
}

.gallery-t .gallery-te1 .image-t img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 02s linear;
}

.gallery-t .gallery-te1 .image-t:hover img{
    transform: scale(1.1);
}


.gallery-t .popup-image{
    padding: 2rem 9%;
    position: fixed;
    top: 80px; left: 0; 
    background: rgba(20, 38, 36, 0.9);;
    height: 90%;
    width: 100%;
    z-index: 100;
    display: none;
    align-items: center;
    
}

.gallery-t .popup-image span{
    position: absolute;
    top: 10px;right: 30px; 
    font-size: 45px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.gallery-t .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    border-radius: 5px;
    width: auto;
    height: 450px;
    object-fit: cover;
}

/*chiapas*/
.gallery-t .gallery-te2 { 
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
 }
 
 .gallery-t .gallery-te2 .image-t{
     height: 350px;
     width: 350px;
     overflow: hidden;
     cursor: pointer;
 }
 
 .gallery-t .gallery-te2 .image-t img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: 02s linear;
 }
 
 .gallery-t .gallery-te2 .image-t:hover img{
     transform: scale(1.1);
 }


 /*zapotecos*/

 .gallery-t .gallery-te3 { 
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
 }
 
 .gallery-t .gallery-te3 .image-t{
     height: 350px;
     width: 350px;
     overflow: hidden;
     cursor: pointer;
 }
 
 .gallery-t .gallery-te3 .image-t img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: 02s linear;
 }
 
 .gallery-t .gallery-te3 .image-t:hover img{
     transform: scale(1.1);
 }

 /*yute*/

 .gallery-t .gallery-te4 { 
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
 }
 
 .gallery-t .gallery-te4 .image-t{
     height: 350px;
     width: 350px;
     overflow: hidden;
     cursor: pointer;
 }
 
 .gallery-t .gallery-te4 .image-t img{
     height: 100%;
     width: 100%;
     object-fit: cover;
     transition: 02s linear;
 }
 
 .gallery-t .gallery-te4 .image-t:hover img{
     transform: scale(1.1);
 }


 /*Mobiliario*/

 .mobiliario{
    display: flex;
    align-items: center;
    height: 450px;
    background: url(kaxlaga-img/general\ 1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.mobiliario .content-m h3{
    font-size: 6rem;
    color: #fff;
    text-align: center;
}

.texto-mobiliario {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    padding: 2rem 9%; 
    padding-bottom: 3rem;
    font-family: 'Lato';
    font-weight: 400;
    margin: 0 auto; 
}

.texto-mobiliario .texto-m h3 {
    font-size: 4rem;
    color: #142624;
    margin-top: 3rem;
    text-align: center;
}

.texto-mobiliario .texto-m h3 span {
    color: #63735f;
}

.texto-mobiliario .texto-m p{
    text-align: center;
    font-size: 2rem;
    text-transform: none;
    color: #142624;
    padding: 2rem 0;
    line-height: 1.5;
}


/*FOOTER*/

.footer{ margin-top: 50px;}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--peach);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding:1.5rem ;
    margin-top: 1.5rem;
    padding-top:2.5rem;
    font-size: 10px;
    color: #333;
    border-top: 1rem solid rgba(0,0,0,.1);

}

.footer .credit span a{
    color: var(--peach);
}


/*boton idiomas*/

.language-dropdown {
    position: relative;
    display: inline-block;
    background-color: #fff;
}

.dropdown-toggle {
    background-color: #fff;
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    color: #666;
    padding: 0 1.5rem;
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-toggle:hover {
    color: var(--peach);
}

.dropdown-menu {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%; 
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    z-index: 1000;
}

.dropdown-menu li {
    padding: 1rem 2rem;
}

.dropdown-menu li a {
    display: block;
    color: #666;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
    
}

.dropdown-menu li a:hover {
    color: var(--peach);
}

.language-dropdown.open .dropdown-menu {
    display: block;
}










/*media queries*/

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	
    .footer .box-container{
        display: flex;
        flex-wrap: nowrap;
        gap: 1.5rem;
    }
}

@media (max-width: 1024px){

    .footer{ margin-top: 50px;
        background-color: #fff;
        }
        
        .footer .box-container{
            display: flex;
            flex-wrap: nowrap;
            gap: 1.5rem;
        }
        
        .footer .box-container .box{
            flex: 0 0 auto; 
            width: 25%; 
            max-width: 25rem; 
        }
        
        .footer .box-container .box h3{
            color: #142624;
            font-size: 2.5rem;
            padding: 1rem 0;
        }
        
        .footer .box-container .box a{
            display: block;
            color: #666;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
        
        .footer .box-container .box a:hover{
            color: var(--peach);
            text-decoration: underline;
        }
        
        .footer .credit{
            text-align: center;
            padding:1.5rem ;
            margin-top: 1.5rem;
            padding-top:2.5rem;
            font-size: 10px;
            color: #535353ea;
            border-top: 1rem solid rgba(0,0,0,.1);
        
        }
}



@media(max-width:991px){

    html{
        font-size: 55%;
    }

    header{
        padding: 2rem ;
        
    }

    section{
        padding: 2rem;
    }

    .footer{ margin-top: 50px;}
.footer .box-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
    color: var(--peach);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding:1.5rem ;
    margin-top: 1.5rem;
    padding-top:2.5rem;
    font-size: 10px;
    color: #333;
    border-top: 1rem solid rgba(0,0,0,.1);

}

.gallery-t .popup-image {
        padding: 2rem 9%;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .gallery-t .popup-image span {
        position: absolute;
        top: 95px;
        right: 30px;}

}

@media(max-width:768px){

    html{
        font-size: 65%;
    }

    section{
        padding: 2rem 9%;
    }
    header .logo {
        height: auto;
        width: 200px;}

    header{
        padding: 1rem;
        justify-content: normal;
    }

    header .fa-bars{
        display: block;
        border-color: #fff ;
        font-size: 4rem;
        cursor: pointer;
    
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: whitesmoke;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0 );
        transition: clip-path 0.3s ease-in-out;
        z-index: 1000; 
        display: none;
    }

    header #toggler:checked~.navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        display: block;
        padding-bottom: 200px;
    }


    header .navbar a{
        padding: 1.5rem;
        background: whitesmoke;
        border: 1rem solid rgba(247, 243, 243, 0.1);
        display: block;
        color: #666;
    }

    

    header .language-dropdown {
        position: relative; 
        padding: 2rem;
        background: whitesmoke;
    }

    .dropdown-toggle {
        background-color: whitesmoke;}

    header .language-dropdown .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: whitesmoke;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        list-style: none;
        padding: 0;
        z-index: 1001;
        display: none; 
    }


    header .language-dropdown.open .dropdown-menu {
        display: block;
    }

    header .language-dropdown .dropdown-menu li {
        padding: 1rem 2rem;
    }

    header .language-dropdown .dropdown-menu li a {
        display: block;
        color: #666;
        font-family: 'Lato';
        font-weight: 400;
        font-size: 2rem;
        text-decoration: none;
    }

    header .language-dropdown .dropdown-menu li a:hover {
        color: var(--peach);
    }

    .home{
        padding: 9rem 9%;
    }
    .home .content{
        margin-top: 9rem;
        margin-left:0 ;
    }
    .home .content h3{
        font-size: 5rem;
    
    }

    .home .content p{
        font-size: 2.5rem;
    }

    .icons-container .icons{
        padding-top: none;
        padding-bottom: none;
        flex: 1rem;
    }
    .icons-container{
        display: flex;
        flex-direction: column;
    }
    .icons-container .icons p{
        font-size: 20px;
    }
    

    .division .imagen img{
    width: 300px;
    }

    .info-contacto {
        text-align: left;
        font-size: 15px;
        margin-bottom: 15px;
        color: rgb(60, 60, 61);
    }

    .contact{
        padding: 2rem 9%;
    }
    .contact .row .image iframe {
        width: 660px;
        box-shadow: 0px 0px 30px 5px rgb(143, 102, 56);
        border-radius: .5rem;
    }


    .contact .row .info-contacto {
        height: auto;
    }

    .gallery-t .popup-image img{
        object-fit: contain;
    }


    .gallery-t .popup-image span {
        position: absolute;
        top: 95px;
        right: 30px;}


    .gallery-t .popup-image {
        padding: 2rem 9%;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;
        

    }

    .tooltip-top{
        flex-direction: column;
    }

    .botones-productos{
        padding: 1rem;
    }

    .footer .credit{
        font-size: 10px;
    }

    .footer{ margin-top: 50px;}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

    }



    

@media(max-width:430px){

    .products .content h3 {
        margin-top: 120px;
    }

    .mobiliario .content-m h3{
        margin-top: 120px;
    }

    .textiles .content-t h3{
        margin-top: 120px;
    }


    .aboutt .content-b h3{
        margin-top: 120px;
    }


    .gallery-t .popup-image {
        padding: 2rem 9%;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;}


    .gallery-t .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    border-radius: 5px;
    width: 411px;
    height: 450px;
    object-fit: contain;
}

}

@media(max-width:414px){

    header{
        padding: 1rem;
        justify-content: normal;
    }

    header .logo {
        height: auto;
        width: 200px;}

    header .fa-bars {
        font-size: 3rem;
    }

    html{
        font-size: 50%;
    }

    .home {
        padding: 9rem 9%;
    }

    .products{
        height: 350px;
    }

    .products .content h3 {
        margin-top: 100px;
    }

    .mobiliario{
        height: 350px;
    }

    .mobiliario .content-m h3{
        margin-top: 100px;
    }

    .textiles .content-t h3{
        margin-top: 100px;
    }

    .textiles{
        height: 350px;
    }

    .aboutt {
        height: 350px;
    }

    .aboutt .content-b h3{
        margin-top: 100px;
    }
    

    .contenedor-botones a{
        font-size: 2rem;
    }

    .contact .row .image iframe{ 
        width: 345px;
    }
    
    .footer .box-container .box a{
        font-size: 17px;
    }

    .gallery-t .popup-image {
        padding: 2rem 9%;
        position: fixed;
        top: 0;
        height: 100%;
        width: 100%;}


    .gallery-t .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    object-fit: contain;
}
}